// 设置面包屑样式
.el-breadcrumb{
    width: 100%;
    height: 30px;
    background: #FFFFFF;
    .el-breadcrumb__item{
        height: 30px;
        line-height: 30px;
        padding-left: 20px;
        .el-breadcrumb__inner {
            font-weight: bold;
            color: #999999;
            line-height: 18px;
        }
    }
}
// 方框的统一样式
.standard-box{
    box-shadow: 0px 1px 4px 0px rgba(0, 59, 129, 0.15);
    border-radius: 3px;
    background: #FFFFFF;
}

// 设置滚动条
.scrollbar-for {
    .el-scrollbar__wrap {
        overflow-x: hidden !important;
    }
}

// 返回上一级样式
.return{
    position: relative;
    .el-icon{
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 32px;
        background: #FFFFFF;
        box-shadow: 0px 1px 4px 0px rgba(0, 59, 129, 0.15);
        border-radius: 16px;
        display: inline-block;
        cursor: pointer;

        font-size: 30px;
        font-weight: bold;
        color: rgba(0, 130, 255, 1);
    }
    h3{
        text-align: left;
        text-indent: 60px;
    }
}

// 所有的element Plus 图标居中
.el-icon{
    cursor: pointer;
    vertical-align: middle;
}

// 设置带有小蓝条的h3标题
._title{
    display: flex;
    h3{
        flex: 1;
        position: relative;
        font-size: 16px;
        font-weight: bold;
        color: #1A1A1A;
        line-height: 49px;
        text-align: left;
        text-indent: 30px;
        &::after{
            position: absolute;
            content: '';
            display: inline-block;
            left: 20px;
            top: 15px;
            width: 4px;
            height: 20px;
            background: #159EFF;
            box-shadow: 0px 1px 3px 0px rgba(0, 149, 255, 0.6);
        }
        span{
            margin: 15px;
            line-height: 50px;
            font-size: 14px;
            font-weight: 400;
            color: #999999;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .icon {
        display: flex;
        padding: 14px;
        >div{
            margin-left: 30px;
            position: relative;
            &::after{
                display: inline-block;
                content: '';
                position: absolute;
                left: -15px;
                top: -7px;
                height: 40px;
                width: 1px;
                background: rgba(162, 189, 220, 0.25);
            }
        }
    }
}
// element 的dialog弹窗通用样式
.el-dialog.common-dialog{
    border-radius: 6px;

    .el-dialog__header {
        position: relative;
        padding: 20px 16px;
        text-align: left;
        height: 18px;
        font-size: 18px;
        font-weight: 600;
        color: #1A1A1A;
        line-height: 27px;
        .el-dialog__title{
            font-weight: bold;
        }

        .remark {
            position: absolute;
            text-align: left;
            height: 12px;
            font-size: 12px;
            font-weight: 400;
            color: #FF6383;
            line-height: 18px;
        }
    }

    .el-dialog__body {
        padding: 0px 16px;

        .el-form {
            .el-form-item__error {
                padding-top: 0px !important;
            }

            .el-form-item {
                margin-bottom: 10px;
                .el-form-item__label{
                    font-weight: bold;
                    color: #1A1A1A;
                }
            }

            .el-input {
                .el-input__inner {
                    border: none;
                    height: 30px;
                    background: #F0F0F0;
                    border-radius: 3px;
                }
            }

            .el-textarea {
                margin-top: 5px;

                .el-textarea__inner {
                    border: none;
                    background: #F0F0F0;
                    border-radius: 3px;
                }
            }

            .el-date-editor {
                width: 100%;
            }

            .el-autocomplete {
                width: 100% !important;
            }
        }
    }

    .el-dialog__footer {
        .el-button {
            width: 70px;
            height: 30px;
            line-height: 0;
            border-radius: 3px;
        }
    }
}

// 筛选项 --> 用于input
.filter-type{
    margin-right: 10px;
    .el-input-group__prepend{
        padding: 0 10px;
        color: #1A1A1A;
    }
}
// 筛选项 --> 用于select
.filter-select{
    margin-right: 10px;
    display: flex;
    align-items: center;
    .type{
        min-width: 60px;
        display: inline-block;
        font-size: 12px;
        padding: 3px 6px;
        height: 20px;
        line-height: 20px;
        background-color: rgb(245,247,250);
        border: 1px solid rgb(220,223,230);
        border-right: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        cursor: not-allowed;
    }
    .el-input__inner {
        padding: 0;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        height: 26px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #FAFAFA;
        color: #1A1A1A;
    }
}
// 筛选项 --> 用于日期时间筛选器
.filter-time{
    margin-right: 10px;
    display: flex;
    align-items: center;
    .type{
        display: inline-block;
        font-size: 12px;
        padding: 3px 6px;
        height: 20px;
        line-height: 20px;
        background-color: rgb(245,247,250);
        border: 1px solid rgb(220,223,230);
        border-right: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        cursor: not-allowed;
    }
    .el-range-editor--mini.el-input__inner{
        flex: 1;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
// 筛选按钮
.filter-button {
    width: 150px;
    min-width: 100px;
    display: flex;

    .el-button {
        width: 48%;
        height: 26px;
        // line-height: 0;
        margin-left: 2%;
        display: flex;
        justify-content: center;
    }

    .el-button:first-of-type {
        background: rgba(0, 130, 255, 1);
    }

    .el-button:last-of-type {
        border-color: rgba(0, 130, 255, 1);
        color: rgba(0, 130, 255, 1);
    }
}